{
  "openapi": "3.0.3",
  "info": {
    "title": "NeXifyAI API",
    "version": "3.1.0",
    "description": "NeXifyAI Backend API — FastAPI. Chat it. Automate it."
  },
  "servers": [
    {
      "url": "https://contract-os.preview.emergentagent.com",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health Check",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/chat": {
      "post": {
        "summary": "Public Chat",
        "responses": {
          "200": {
            "description": "AI Response"
          }
        }
      }
    },
    "/api/admin/login": {
      "post": {
        "summary": "Admin Login",
        "responses": {
          "200": {
            "description": "JWT Token"
          }
        }
      }
    },
    "/api/admin/dashboard": {
      "get": {
        "summary": "Admin Dashboard",
        "responses": {
          "200": {
            "description": "Dashboard Data"
          }
        }
      }
    },
    "/api/admin/nexify-ai/chat": {
      "post": {
        "summary": "Admin AI Chat",
        "responses": {
          "200": {
            "description": "AI Response"
          }
        }
      }
    },
    "/api/billing/quotes": {
      "get": {
        "summary": "List Quotes",
        "responses": {
          "200": {
            "description": "Quotes"
          }
        }
      },
      "post": {
        "summary": "Create Quote",
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/billing/invoices": {
      "get": {
        "summary": "List Invoices",
        "responses": {
          "200": {
            "description": "Invoices"
          }
        }
      },
      "post": {
        "summary": "Create Invoice",
        "responses": {
          "201": {
            "description": "Created"
          }
        }
      }
    },
    "/api/billing/payments": {
      "post": {
        "summary": "Process Payment",
        "responses": {
          "200": {
            "description": "Payment Status"
          }
        }
      }
    },
    "/api/portal/overview": {
      "get": {
        "summary": "Customer Portal Overview",
        "responses": {
          "200": {
            "description": "Portal Data"
          }
        }
      }
    },
    "/api/booking": {
      "post": {
        "summary": "Create Booking",
        "responses": {
          "201": {
            "description": "Booked"
          }
        }
      }
    },
    "/api/analytics/track": {
      "post": {
        "summary": "Track Event",
        "responses": {
          "201": {
            "description": "Tracked"
          }
        }
      }
    },
    "/api/analytics/stats": {
      "get": {
        "summary": "Analytics Stats",
        "responses": {
          "200": {
            "description": "Stats"
          }
        }
      }
    },
    "/api/autopilot/status": {
      "get": {
        "summary": "Autopilot Status",
        "responses": {
          "200": {
            "description": "Status JSON"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "detail": {
            "type": "string"
          }
        }
      }
    }
  }
}